@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  overflow-x: hidden;
  max-width: 1500px;
  margin: 0 auto; }

.loadanimation {
  position: absolute;
  z-index: 99999999999999999999;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e6b001;
  animation: animationend 1s ease 4.5s forwards;
  padding: 15px; }
  .loadanimation #animationlogo {
    animation: logofill 1.5s ease-out forwards 3s; }
    .loadanimation #animationlogo path:nth-child(1) {
      stroke-dasharray: 104;
      stroke-dashoffset: 104;
      animation: pathanimation .4s ease forwards 2.6s; }
    .loadanimation #animationlogo path:nth-child(2) {
      stroke-dasharray: 200.3;
      stroke-dashoffset: 200.3;
      animation: pathanimation .4s ease forwards 2.8s; }
    .loadanimation #animationlogo path:nth-child(3) {
      stroke-dasharray: 483.4;
      stroke-dashoffset: 483.4;
      animation: pathanimation .4s ease forwards 2.8s; }
    .loadanimation #animationlogo path:nth-child(4) {
      stroke-dasharray: 681.577;
      stroke-dashoffset: 681.577;
      animation: pathanimation .4s ease forwards; }
    .loadanimation #animationlogo path:nth-child(5) {
      stroke-dasharray: 340.9;
      stroke-dashoffset: 340.9;
      animation: pathanimation .4s ease forwards .2s; }
    .loadanimation #animationlogo path:nth-child(6) {
      stroke-dasharray: 295.76;
      stroke-dashoffset: 295.76;
      animation: pathanimation .4s ease forwards .4s; }
    .loadanimation #animationlogo path:nth-child(7) {
      stroke-dasharray: 238.195;
      stroke-dashoffset: 238.195;
      animation: pathanimation .4s ease forwards .6s; }
    .loadanimation #animationlogo path:nth-child(8) {
      stroke-dasharray: 340.9;
      stroke-dashoffset: 340.9;
      animation: pathanimation .4s ease forwards .8s; }
    .loadanimation #animationlogo path:nth-child(9) {
      stroke-dasharray: 790.5;
      stroke-dashoffset: 790.5;
      animation: pathanimation .4s ease forwards 1s; }
    .loadanimation #animationlogo path:nth-child(10) {
      stroke-dasharray: 195.36;
      stroke-dashoffset: 195.36;
      animation: pathanimation .4s ease forwards 1.2s; }
    .loadanimation #animationlogo path:nth-child(11) {
      stroke-dasharray: 367.67;
      stroke-dashoffset: 367.67;
      animation: pathanimation .4s ease forwards 1.4s; }
    .loadanimation #animationlogo path:nth-child(12) {
      stroke-dasharray: 367.67;
      stroke-dashoffset: 367.67;
      animation: pathanimation .4s ease forwards 1.6s; }
    .loadanimation #animationlogo path:nth-child(13) {
      stroke-dasharray: 195.6;
      stroke-dashoffset: 195.6;
      animation: pathanimation .4s ease forwards 1.8s; }
    .loadanimation #animationlogo path:nth-child(14) {
      stroke-dasharray: 317.15;
      stroke-dashoffset: 317.15;
      animation: pathanimation .4s ease forwards 2s; }
    .loadanimation #animationlogo path:nth-child(15) {
      stroke-dasharray: 407.94;
      stroke-dashoffset: 407.94;
      animation: pathanimation .4s ease forwards 2.2s; }
    .loadanimation #animationlogo path:nth-child(16) {
      stroke-dasharray: 238.19;
      stroke-dashoffset: 238.19;
      animation: pathanimation .4s ease forwards 2.4s; }

@keyframes pathanimation {
  from {
    opacity: 1; }
  to {
    stroke-dashoffset: 0;
    opacity: 1; } }

@keyframes logofill {
  0% {
    fill: transparent; }
  .1% {
    fill: white; }
  100% {
    fill: white;
    opacity: 0; } }

@keyframes animationend {
  from {
    width: 100%; }
  to {
    width: 0%;
    padding: 0px; } }

.hero_container {
  background: linear-gradient(111.34deg, #F0F0F0 0%, #EBECED 57.2%, rgba(239, 239, 239, 0) 100%);
  z-index: 9; }
  .hero_container header {
    padding: 15px 12px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 9;
    align-items: center; }
    .hero_container header .logo {
      margin: 5px 15px; }
      .hero_container header .logo_img {
        width: 80px;
        height: 50px;
        z-index: 1; }
    .hero_container header nav {
      padding: 5px;
      width: 55%; }
      .hero_container header nav ul {
        font-family: "Nunito Sans", sans-serif;
        list-style: none;
        display: flex;
        justify-content: space-evenly; }
        .hero_container header nav ul li {
          padding: 7px;
          position: relative; }
          .hero_container header nav ul li span {
            position: absolute;
            bottom: 1%;
            left: 30%;
            height: 3px;
            width: 25px;
            background: #e6b001; }
        .hero_container header nav ul a {
          text-decoration: none;
          font-weight: 300;
          font-size: 1rem;
          color: #4b420b; }

#hero {
  display: flex;
  gap: 5px;
  position: relative; }
  #hero .left_herosection {
    position: relative;
    width: 45%; }
    #hero .left_herosection img {
      margin-top: -130px;
      position: relative;
      z-index: 0;
      width: 100%; }
  #hero .right_herosection {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10px;
    width: 55%; }
    #hero .right_herosection h1 {
      font-family: "Clicker Script";
      color: #664e00;
      font-size: 6rem;
      font-weight: 400;
      margin-top: 100px; }
    #hero .right_herosection .name_underline {
      align-items: center; }
      #hero .right_herosection .name_underline .underline_item {
        width: 70px;
        display: inline-block;
        border: 2px solid #e6b001;
        background-color: #e6b001;
        align-self: center;
        margin-bottom: 2px; }
      #hero .right_herosection .name_underline .underline_img {
        width: 50px;
        height: 8px; }
    #hero .right_herosection h3 {
      margin: 15px 0px;
      font-family: "Nunito Sans", sans-serif;
      font-weight: 400;
      font-size: 2rem;
      color: #191400; }
    #hero .right_herosection .social img {
      height: 50px;
      width: 50px;
      margin: 5px; }

.whitespace {
  position: relative;
  width: 100%;
  height: 150px; }
  .whitespace__bigcircle {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(255, 197, 1, 0.2);
    width: 450px;
    height: 450px;
    top: 28%;
    left: 47%;
    transform: translate(-50%, -50%); }
  .whitespace__smallcircle {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(173, 185, 1, 0.1);
    width: 400px;
    height: 400px;
    top: 28%;
    left: 47%;
    transform: translate(-50%, -50%); }

.about {
  display: flex;
  background: linear-gradient(47.55deg, #A7B2C3 19.51%, #CCD5DF 31.73%, #D5DEE6 50.37%, #D5DEE6 64.83%); }
  .about .about_meimage {
    width: 42%; }
  .about .about_me {
    padding: 40px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%; }
    .about .about_me .about_content {
      padding: 20px 70px; }
      .about .about_me .about_content h4 {
        color: #cc9d01;
        font-size: 3.5rem;
        font-family: "Clicker Script";
        margin: 20px 0px; }
      .about .about_me .about_content p {
        font-size: 1.7rem;
        color: #664e00;
        font-family: "Nunito Sans", sans-serif;
        line-height: 1.5; }

.works {
  text-align: center;
  padding: 35px 10px; }
  .works .works_content h2 {
    font-family: "Clicker Script";
    font-weight: 600;
    color: black;
    font-size: 3rem; }
  .works .works_content .name_underline {
    align-items: center;
    margin-top: 15px; }
    .works .works_content .name_underline .underline_item {
      width: 70px;
      display: inline-block;
      border: 2px solid #e6b001;
      background-color: #e6b001;
      align-self: center;
      margin-bottom: 2px; }
    .works .works_content .name_underline .underline_img {
      width: 60px;
      height: 7px; }
  .works .works_content p {
    margin: 10px auto;
    padding: 5px;
    line-height: 1.5;
    font-size: 1.5rem;
    color: #664e00;
    max-width: 70%; }
  .works .works_carouselcontainer {
    padding: 40px 5px;
    text-align: center;
    margin: 0 auto; }
    .works .works_carouselcontainer .works_carousel {
      width: 80%;
      margin: 0 auto; }
      .works .works_carouselcontainer .works_carousel img {
        width: 100%;
        height: 550px; }
      .works .works_carouselcontainer .works_carousel .active_img {
        height: 600px; }
      .works .works_carouselcontainer .works_carousel .slick-arrow {
        height: 50px;
        width: 50px; }
        .works .works_carouselcontainer .works_carousel .slick-arrow:before {
          content: ''; }
        .works .works_carouselcontainer .works_carousel .slick-arrow:first-child {
          background: url("../../../Imgs/Vector (2).svg");
          background-size: 50%;
          background-repeat: no-repeat; }
      .works .works_carouselcontainer .works_carousel .active {
        border: 1px solid #cc9d01;
        position: relative;
        margin-top: -20px;
        padding: 15px 0px 15px 0px; }
      .works .works_carouselcontainer .works_carousel .slick-next {
        background: url("../../../Imgs/Vector.svg");
        background-size: 50%;
        background-repeat: no-repeat; }
      .works .works_carouselcontainer .works_carousel .cupcakes {
        position: absolute;
        bottom: 10%;
        font-size: 1.1rem;
        left: 32%;
        color: white;
        border: none;
        font-family: "Nunito Sans", sans-serif;
        border-radius: 3px;
        background: #adb901;
        padding: 10px 20px; }
      .works .works_carouselcontainer .works_carousel .slick-list .slick-track {
        width: 7150px !important;
        padding-top: 20px; }

.blogposts_container {
  padding: 10px 5px; }
  .blogposts_container .blogposts_heading {
    text-align: center;
    margin: 10px auto; }
    .blogposts_container .blogposts_heading h2 {
      font-family: "Clicker Script";
      font-weight: 600;
      color: black;
      font-size: 3rem; }
    .blogposts_container .blogposts_heading .name_underline {
      align-items: center;
      margin-top: 10px; }
      .blogposts_container .blogposts_heading .name_underline .underline_item {
        width: 70px;
        display: inline-block;
        border: 2px solid #e6b001;
        background-color: #e6b001;
        align-self: center;
        margin-bottom: 2px; }
      .blogposts_container .blogposts_heading .name_underline .underline_img {
        width: 60px;
        height: 7px; }
  .blogposts_container .blog_posts {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin: 75px 0px; }
    .blogposts_container .blog_posts .post_item {
      height: 450px;
      width: 500px;
      position: relative; }
      .blogposts_container .blog_posts .post_item:first-child {
        background: url("../../Imgs/card-image.svg");
        background-size: 100%; }
      .blogposts_container .blog_posts .post_item:last-child {
        background: url("../../Imgs/card-img.svg");
        background-size: 100%; }
      .blogposts_container .blog_posts .post_item .blog_content {
        background: #00000080 50%;
        padding: 15px;
        color: #fff;
        font-family: "Nunito Sans", sans-serif;
        position: absolute;
        bottom: 5%;
        left: 5%;
        width: 90%; }
        .blogposts_container .blog_posts .post_item .blog_content h3 {
          font-weight: 600;
          font-size: 1.5rem;
          line-height: 1.2;
          margin: 5px 0px; }
        .blogposts_container .blog_posts .post_item .blog_content p {
          line-height: 1.5;
          font-weight: 400; }
        .blogposts_container .blog_posts .post_item .blog_content button {
          margin: 10px 0px;
          padding: 10px 15px;
          border-radius: 5px;
          border: none;
          color: #fff;
          background: #adb901;
          font-weight: 600;
          cursor: pointer; }

.contact_container {
  padding: 15px 5px 45px 5px;
  text-align: center;
  position: relative; }
  .contact_container .contact_heading {
    margin: 35px auto; }
    .contact_container .contact_heading h2 {
      font-family: "Clicker Script";
      font-weight: 600;
      color: black;
      font-size: 3rem; }
    .contact_container .contact_heading .name_underline {
      align-items: center;
      margin: 10px 0px; }
      .contact_container .contact_heading .name_underline .underline_item {
        width: 70px;
        display: inline-block;
        border: 2px solid #e6b001;
        background-color: #e6b001;
        align-self: center;
        margin-bottom: 2px; }
      .contact_container .contact_heading .name_underline .underline_img {
        width: 60px;
        height: 7px; }
  .contact_container form {
    margin: 45px 0px;
    z-index: 10; }
    .contact_container form input {
      display: block;
      margin: 25px auto;
      border: 1px solid rgba(25, 20, 0, 0.2);
      padding: 10px 20px;
      border-radius: 5px;
      box-shadow: 1px 1px 5px #e0e0e0;
      width: 30%; }
    .contact_container form textarea {
      width: 30%;
      border: 1px solid rgba(25, 20, 0, 0.2);
      border-radius: 5px;
      box-shadow: 1px 1px 5px #e0e0e0;
      padding: 5px; }
    .contact_container form [value="SEND"] {
      width: 10%;
      border: none;
      background: #bbc443;
      color: #fff;
      font-family: "Nunito Sans", sans-serif;
      font-weight: 600;
      cursor: pointer;
      margin-top: 25px; }
    .contact_container form label {
      position: absolute !important;
      height: 1px;
      width: 1px;
      overflow: hidden;
      clip: rect(1px 1px 1px 1px);
      /* IE6, IE7 */
      clip: rect(1px, 1px, 1px, 1px);
      white-space: nowrap;
      /* added line */ }
  .contact_container .contact_background_img {
    width: 500px;
    height: 532px;
    position: absolute;
    bottom: -5%;
    right: 6%;
    z-index: -1; }
  .contact_container .contact_background_img2 {
    width: 500px;
    height: 400px;
    position: absolute;
    top: 1%;
    left: 13%;
    z-index: -1; }

.footer {
  background: #bbc443;
  padding: 20px 45px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .footer .footer_heading {
    font-size: 2rem; }
    .footer .footer_heading span {
      font-family: "Clicker Script"; }
  .footer .socials img {
    height: 40px;
    width: 40px;
    margin: 0px 10px; }

.blog_hero {
  background: url("../../Imgs/header-bg.svg");
  background-size: 80%;
  background-color: #F7F7F7;
  background-position: 100%;
  background-repeat: no-repeat; }
  .blog_hero #hero {
    display: block; }
    .blog_hero #hero .right_herosection {
      margin-left: 15%; }

.blogposts_section {
  display: flex;
  gap: 20px;
  padding: 10px 25px;
  background: #f7f7f7; }
  .blogposts_section .blogposts_container {
    padding: 5px 10px;
    margin: 5px 15px;
    width: 70%; }
    .blogposts_section .blogposts_container .post_item {
      height: 365px;
      width: 85%;
      position: relative;
      margin: 45px; }
      .blogposts_section .blogposts_container .post_item:first-child {
        background: url("../../Imgs/card-image.svg");
        background-size: 100%;
        margin-top: 35px; }
      .blogposts_section .blogposts_container .post_item:nth-child(2) {
        background: url("../../Imgs/card-image (1).svg");
        background-size: 180%; }
      .blogposts_section .blogposts_container .post_item:nth-child(3) {
        background: url("../../Imgs/card-image (2).svg");
        background-size: 100%; }
      .blogposts_section .blogposts_container .post_item:nth-child(4) {
        background: url("../../Imgs/card-img.svg");
        background-size: 100%; }
      .blogposts_section .blogposts_container .post_item .blog_content {
        background: #00000080 50%;
        padding: 15px;
        color: #fff;
        font-family: "Nunito Sans", sans-serif;
        position: absolute;
        bottom: 5%;
        left: 3%;
        width: 60%; }
        .blogposts_section .blogposts_container .post_item .blog_content h3 {
          font-weight: 600;
          font-size: 1.5rem;
          line-height: 1.2;
          margin: 5px 0px; }
        .blogposts_section .blogposts_container .post_item .blog_content p {
          line-height: 1.5;
          font-weight: 300; }
          .blogposts_section .blogposts_container .post_item .blog_content p:last-child {
            margin: 10px 0px; }
        .blogposts_section .blogposts_container .post_item .blog_content a {
          color: #adb901;
          text-decoration: none; }

.pagination_container {
  display: flex;
  gap: 5px;
  margin: 40px;
  color: #adb901; }
  .pagination_container p {
    padding: 5px 10px;
    font-size: 1.4rem; }
    .pagination_container p:last-child {
      border: 1px solid #e6b001; }

.recentpost_container {
  padding: 25px 5px 25px 25px;
  border-radius: 3px;
  background: rgba(173, 185, 1, 0.1);
  font-family: "Nunito Sans", sans-serif;
  color: #4b420b;
  margin-top: 45px;
  max-width: 90%; }
  .recentpost_container h3 {
    font-size: 1.3rem;
    display: inline-block;
    margin-top: 10px; }
    .recentpost_container h3 .recent_underline {
      background: #e6b001;
      border: none;
      margin: 5px 0px 10px 0px;
      height: 1.5px; }
    .recentpost_container h3 .tag_underline {
      background: #e6b001;
      border: none;
      margin: 5px 0px 10px 0px;
      height: 2.5px; }
  .recentpost_container ul {
    list-style: none;
    margin: 10px 0px; }
    .recentpost_container ul li {
      margin: 15px 0px; }
      .recentpost_container ul li a {
        color: #4b420b;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 400; }
  .recentpost_container .recentpost_tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px; }
    .recentpost_container .recentpost_tags p {
      margin: 5px 10px;
      border: 1px solid #4b420b;
      border-radius: 4px;
      padding: 10px 25px; }

.blogpost_hero-container {
  background-size: 71%; }
  .blogpost_hero-container .whitespace {
    height: 100px; }

.blogposts_section {
  font-family: "Nunito Sans", sans-serif; }
  .blogposts_section .blogposts_container {
    color: black;
    width: 70%; }
    .blogposts_section .blogposts_container .blogpost_item {
      width: 90% !important; }
      .blogposts_section .blogposts_container .blogpost_item hr {
        position: absolute;
        bottom: -9%;
        width: 100%;
        background: #e6b001;
        border: none;
        margin: 5px 0px 10px 0px;
        height: 2px; }
    .blogposts_section .blogposts_container .blogpost_content {
      margin: 10px 55px 10px 45px;
      line-height: 1.8; }
      .blogposts_section .blogposts_container .blogpost_content p {
        margin: 10px 0px 10px 0px; }
      .blogposts_section .blogposts_container .blogpost_content ul {
        margin-left: 60px; }
        .blogposts_section .blogposts_container .blogpost_content ul li {
          margin: 10px 0px 10px 0px; }
          .blogposts_section .blogposts_container .blogpost_content ul li::marker {
            color: #adb901;
            font-size: 1.5rem;
            display: list-item; }
          .blogposts_section .blogposts_container .blogpost_content ul li span {
            margin-top: -15px; }
  .blogposts_section .recentpost_flex {
    max-width: 35%; }
    .blogposts_section .recentpost_flex .recentpost_container {
      width: 100%; }
    .blogposts_section .recentpost_flex .blogpost_item {
      height: 300px;
      width: 100%;
      position: relative;
      margin-top: 20px; }
      .blogposts_section .recentpost_flex .blogpost_item .blogpost_content {
        background: #00000080 50%;
        padding: 15px;
        color: #fff;
        font-family: "Nunito Sans", sans-serif;
        position: absolute;
        bottom: 5%;
        left: 3%;
        width: 80%; }
        .blogposts_section .recentpost_flex .blogpost_item .blogpost_content h3 {
          font-weight: 600;
          font-size: 1.2rem;
          line-height: 1.2; }
        .blogposts_section .recentpost_flex .blogpost_item .blogpost_content p {
          line-height: 1.3;
          font-weight: 300; }
        .blogposts_section .recentpost_flex .blogpost_item .blogpost_content a {
          color: #adb901;
          text-decoration: none; }
    .blogposts_section .recentpost_flex #new_blogpost {
      background: url("../../Imgs/card-image (2).svg");
      background-size: cover; }
    .blogposts_section .recentpost_flex #new_blogpost2 {
      background: url("../../../Imgs/card-image.svg"); }

.blogpost_whitespace {
  background: #f7f7f7; }
