@mixin circle_positioning($color, $width, $height) {
    position:absolute;
    border-radius: 50%;
    background-color: $color;
    width:$width;
    height: $height;
    top:28%;  
    left:47%;        
    transform: translate(-50%, -50%); 
}

@mixin circleanimation ($name, $initailscale, $finalscale){
    @keyframes  #{$name}{
        0%{       
            transform: translate(-50%, -50%) scale($initailscale);
        }
        
        100%{           
            transform: translate(-50%, -50%) scale($finalscale);
        }
    } 
}

@mixin hamburgerspin($spinname){
    @keyframes #{$spinname} {  
        0%{
            transform-origin: 50%;
            transform: rotate(360deg);
        }
        50%{
            transform-origin: 50%;
            transform: rotate(360deg);
        }
        80%{
            transform-origin: 50%;
            transform: rotate(360deg);
        }
        100%{
            transform-origin: 50%;
            transform: rotate(45deg); 
        }
    }
}

@mixin hamburgerspinR($spinnameR){
    @keyframes #{$spinnameR} {  
        0%{
            transform-origin: 50%;
            transform: rotate(360deg);
        }
        50%{
            transform-origin: 50%;
            transform: rotate(360deg);
        }
        80%{
            transform-origin: 50%;
            transform: rotate(360deg);
        }
        100%{
            transform-origin: 50%;
            transform: rotate(-45deg); 
        }
    }
}



@mixin section_headings($font, $color){
            font-family: $font;
            font-weight: 600;    
            color:$color;
            font-size: 3rem;
}

@mixin underline_item($color){
            width: 70px; 
            display: inline-block;
            border:1.5px solid $color; 
            background-color: $color;
            align-self: center; 
            margin-bottom:2px;

}

@mixin underline_blog($height){
    background:$color_yellow; 
            border: none; 
            margin:5px 0px 10px 0px;
            height:$height
}

@mixin blogpost_content($font, $width){
    background: #00000080 50%;
                padding:15px;   
                color:#fff;
                font-family: $font;
                position: absolute; 
                bottom:5%;
                left:3%; 
                width: $width;
}