$color_heroBackground: linear-gradient(111.34deg, #F0F0F0 0%, #EBECED 57.2%, rgba(239, 239, 239, 0) 100%);
$color_greenNav:rgba(75, 66, 11, 1);
$color_greenDark: rgba(102, 78, 0, 1);
$color_yellow:rgba(230, 176, 1, 1);
$color_yellowLight:rgba(204, 157, 1, 1);
$color_blackDark:rgba(25, 20, 0, 1);
$color_blackbutLighter: rgba(0, 0, 0, 0.5);
$color_black:rgba(0, 0, 0, 1);
$color_smallCicle:rgba(173, 185, 1, 0.1);
$color_bigCircle:rgba(255, 197, 1, 0.2);
$color_aboutSection:linear-gradient(47.55deg, #A7B2C3 19.51%, #CCD5DF 31.73%, #D5DEE6 50.37%, #D5DEE6 64.83%);
$color_blogpost-button:rgba(173, 185, 1, 1);
$color_lightgreen:rgba(187, 196, 67, 1);





// font families
$font_clicker:'Clicker Script';
$font_nuito:'Nunito Sans', sans-serif;

$bigCircle_dimension:450px;
$smallCircle_dimension:400px;

