.hero_container{
    background:$color_heroBackground; 
    z-index: 9;
    
    header{
        padding:15px 12px;
        display:flex;
        justify-content: space-between;
        z-index: 9; 
        align-items: center;

        .logo{
            margin:10px 15px; 

                &_img{
                    width:80px; 
                    height:50px;
                    z-index: 1;     
                } 
        }

        nav{
            padding:5px;
            width:55%;

            ul{
                font-family:$font_nuito;
                list-style: none;
                display:flex;
                justify-content: space-evenly;

                li{
                    padding:7px;    
                    position: relative; 

                    span{
                        position:absolute;
                        bottom:1%; 
                        left:30%;   
                        height:3px;
                        width:25px;
                        background:$color_yellow; 
                        }
                }

                a{
                    text-decoration: none;
                    font-weight:300;
                    font-size:1rem;
                    color:$color_greenNav;

                }

            }
    
        }

    }

}
