#hero{
    display: flex;
    gap:5px;  
    position:relative;

    .left_herosection{
        position:relative;
        width:45%;
        margin-top:-130px;
        
                img{
                    
                    position: relative;  
                    z-index: 0;  
                    width:100%; 
                    object-fit: cover;
                    height: 100%; 
                    object-fit: cover;
                }

                .overlay{
                    position: absolute;
                    bottom:0;
                    left:0; 
                    height:100%;
                    width:100%;
                    z-index:1;
                    background: linear-gradient(111.34deg, #F0F0F0 0%, #EBECED 57.2%, rgba(239, 239, 239, 7));   
                    animation: slowreveal 3s ease-in-out forwards;  
                }
    }

    .right_herosection{  
        display:flex;
        justify-content: center;   
        text-align: center; 
        align-items: center; 
        padding:10px;
        width:55%; 

        .ml6 {
            font-family:$font_clicker;
            color:$color_greenDark;
            font-size:6rem;    
            font-weight:400; 
            margin-top:100px;
            position: relative;


            .text-wrapper {
                position: relative;
                display: inline-block;
                overflow: hidden;

                .letter {
                    display: inline-block;
                    line-height: 1px;  
                  }
              }
          }
          
        .name_underline{
            align-items: center;
            margin-top:-35px;

            .underline_item{   
                @include underline_item($color_yellow)    
            }

            .underline_img{
                width:50px;  
                height:8px;   
            } 

        }

        h3{
            margin:15px 0px; 
            font-family: $font_nuito;
            font-weight:400;
            font-size:2rem; 
            color:$color_blackDark ;
        }

        .social{
            img{
                height:50px;
                width:50px; 
                margin:5px;  
            }
        }
    }
} 

@keyframes slowreveal {
    0%{
        height:100%
    }
    100%{
        height:0%;
    }
}