// screen less than 1300
@media only screen and (max-width:1300px){
    #hero{ 

        .right_herosection{

            .ml6 {

                .letters{
                    font-size:5rem;         
                }
            }

            .name_underline{
                margin-top:-45px;  
            }

            h3{      
                font-size:1.5rem;        
            }

            .social{
                img{
                    height:45px; 
                    width:45px;  
                    margin:5px;  
                }
            }

            
        }
    }  

    .whitespace{  

        &__bigcircle{
            width:400px;
            height:400px;  
        }

        &__smallcircle{
            width:350px;
            height:350px;  
        }
    
        &__bigcircle, &__smallcircle{
            top:45%;     
        }
    }
    .about{

        .about_meimage{
            width:37.5%;

            img{
                width:100%;
            }
        }

        .about_me{
            .about_content{
                padding-right: 20px;
            }
        }
    }
}


// screen less than 1150
@media only screen and (max-width:1150px){
        .whitespace{  

        &__bigcircle{
            width:300px;
            height:300px;
        }

        &__smallcircle{
            width:250px; 
            height:250px;   
        }
    
        &__bigcircle, &__smallcircle{
            top:55%;    
            left:43%;           
        }
    }

    .blogposts_container{
        .blog_posts {
            gap:25px; 
        }
    } 

    .contact_container{

        form{
            input {
                width:37%; 
            }  

            textarea{
                width:37%; 
            }

            [value="SEND"]{
                width:15%;
            }

        } 

        .contact_background_img {
            right:8%; 
            bottom:2%;        
            width:300px;  
        } 

        .contact_background_img2 {
            left:5%;  
        }
    }
         
}


// screen less than 1000
@media only screen and (max-width:1000px){
    .about{

        .about_meimage{
            width:37.5%;

            img{
                width:100%;
                // height:100%;
            }
        }

        .about_me{
            .about_content{
                padding: 35px 15px; 

                h4{
                    font-size: 3rem;
                }

                p{
                    font-size:1.4rem; 
                }
            }
        }
    }

    .blogposts_container{

        .blog_posts{
            // gap:15px; 
 
            .post_item { 
                width:410px;   
                height:420px;   
            } 
        } 
    }

    .contact_container{

        .contact_background_img {
            right:1%;        
            bottom:10%;    
            width: 350px;
            height: 372px; 
        }  

        .contact_background_img2 {
            left:1%;    
        }
    }
        
}


// screen less than 890
@media only screen and (max-width:890px){
    .hero_container{
       
        header{
            nav{
                width:60%;

            }
        }
    }
    #hero{
        justify-content: center;

        .left_herosection{
            display:none;
        }
    }

    .about{
        z-index:99999999999999; 

        .about_me{
            padding:10px 5px 5px 5px;    

            .about_content{
                padding-top:10px; 

                h4{
                    margin-top:5px;
                    font-size: 2.3rem; 
                }

                p{
                    font-size: 1.2rem;
                }
            }
        }
    }

    .whitespace{  
        height:120px;     
        overflow: hidden;

        &__bigcircle{
            width:250px;
            height:250px;
        }

        &__smallcircle{ 
            width:200px; 
            height:200px;   
        }
    
        &__bigcircle, &__smallcircle{
            top:110%;           
            left:50% ;      
        }
    }

    .works{
        .works_content{
                p{
                    max-width:95%; 
                }
            }
    } 

    .contact_container{

        .contact_background_img {
            right:3%;         
            bottom:10%;    
            width: 300px;   
            height: 372px; 
        }  

        .contact_background_img2 {
            left:-5%;     
        }
    }
}

// screen less than 745

@media only screen and (max-width:745px){  
    #hero{

        .right_herosection{

            .ml6 {
                .letters{ 
                    font-size: 4rem;         
                }   

            }

            h3{
                font-size:1.2rem;  
            }
        }
    } 


    // .blogposts_container{

    //     .blog_posts{
    //         margin-bottom:20px; 

    //         .post_item{
    //             width:350px;    
    //             height:350px; 

    //             .blog_content{
    //                 padding:8px;

    //                 h3{
    //                     font-size: 1rem; 
    //                 }

    //                 p{
    //                     font-size: .8rem;   
    //                 }

    //                 button{
    //                     font-weight:400;
    //                     padding:7px 10px;  
    //                 }
    //             }
    //         }
    //     } 
    // }

    .works .works_content, .blogposts_container .blogposts_heading, .contact_container .contact_heading{

            h2{
                font-size:2rem;
        }
    }

    .contact_container{

        form{
            input {
                width:47%; 
            }  

            textarea{
                width:47%;  
            }

            [value="SEND"]{
                width:15%;
            }

        } 

        .contact_background_img {
            right:1%; 
            bottom:15%;         
            width:220px;
        } 

        .contact_background_img2 {
            width:350px;  
            left:-2%;      
        }
    }

    .footer{
        padding-right:10px;
        padding-left:10px; 
    }
}

// screen less than 700
@media only screen and (max-width:700px){  
    .hero_container{
       
        header{
            nav{
                display:none;

            }
        }
    }

    #hero{ 

        .right_herosection{
            width:95%;   

            .ml6 {

                .letters{
                    font-size:3.5rem;         
                }
            }

        }
    }

    .about{
        justify-content: center;


        .about_meimage{
            display:none;
        }

        .about_me{
            width:80%;
            padding-top:30px;
            padding-bottom:30px; 
           
        }
    }

    .works{
        .works_content{
                p{
                    max-width:98.5%;  
                }
            }
    } 

    .blogposts_container{

        .blog_posts{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .post_item{
                    width:82%;       
                    height:350px;  
            }
        }
    }

    .contact_container{

        form{
            input {
                width:55%;      
            }  

            textarea{
                width:55%;       
            }

            [value="SEND"]{
                width:20%;
            }

        } 

        .contact_background_img {
            right:1%; 
            bottom:17%;          
            width:180px;   
        } 

        .contact_background_img2 {
            width:200px;   
            left:5%;      
        }
    }
}

// max-screen 534
@media only screen and(max-width:534px){

    .works{
        .works_content{
                p{
                    font-size:1.1rem;  
                }
            }
    } 

    .works .works_content, .blogposts_container .blogposts_heading, .contact_container .contact_heading{

        h2{
            font-size:1.7rem;
        } 
    }

    .contact_container{

        form{
            input {
                width:65%;      
            }  

            textarea{
                width:65%;       
            }

            [value="SEND"]{
                width:25%;
            }

        } 

        .contact_background_img {
            right: -7%;
            bottom: 17%;
            height: 351px;
            width: 172px;  
        } 

        .contact_background_img2 {
            width:180px;
            height:300px;   
            top:10%;  
            left:0%;       
        }  
    }
}

// max screen 425
@media only screen and(max-width:426px){  
    .about{

        .about_me{
            width:90%; 
            .about_content{
                

                h4{
                    font-size:1.9rem;      
                }
            } 
        }
    }

    .blogposts_container{

        .blog_posts{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .post_item{
                    width:95%;        
                    height:350px; 
                    
                    .blog_content{

                        h3{
                            font-size:1rem;
                        }

                        p{
                            font-size:.8rem;
                        }

                        button{
                            font-size:.6rem; 
                        }
                    }
            }
        }
    }

    .contact_container{

        form{
            input {
                width:75%;       
            }  

            textarea{
                width:75%;        
            }

            [value="SEND"]{
                width:35%; 
            }

        } 

        .contact_background_img {
            right: -15%; 
            bottom: 15%;   
            height: 351px;
            width: 172px;  
        } 

        .contact_background_img2 {
            width:180px;
            height:300px;   
            top:10%;  
            left:-10%;        
        }  
    }

}

// screen max 325px
@media only screen and (max-width:325px){  
    #hero{ 

        .right_herosection{

            .ml6 {

                .letters{
                    font-size:2.8rem;           
                }
            }

            .name_underline{
                margin-top:-45px;  
            } 

            .social{
                img{
                    height:30px;   
                    width:30px;   
                    margin:5px;  
                }
            }

            
        }
    }  
}