// screen less than 1300
@media only screen and (max-width:1300px){
    #hero{ 

        .right_herosection{

            .ml6 {

                .letters{
                    font-size:5rem;         
                }
            }

            .name_underline{
                margin-top:-45px;  
            }

            h3{      
                font-size:1.5rem;        
            }

            .social{
                img{
                    height:45px; 
                    width:45px;  
                    margin:5px;  
                }
            }

        }
    }  

    .whitespace{  

        &__bigcircle{
            width:400px;
            height:400px;  
        }

        &__smallcircle{
            width:350px;
            height:350px;  
        }
    
        &__bigcircle, &__smallcircle{
            top:45%;     
        }
    }
    .about{

        .about_meimage{
            width:37.5%;

            img{
                width:100%;
            }
        }

        .about_me{
            .about_content{
                padding-right: 20px;
            }
        }
    }
}


// screen less than 1150
@media only screen and (max-width:1150px){
        .whitespace{  

        &__bigcircle{
            width:300px;
            height:300px;
        }

        &__smallcircle{
            width:270px;  
            height:270px;    
        }
    
        &__bigcircle, &__smallcircle{
            top:55%;    
            left:43%;           
        }
    }

    .blogposts_container{
        .blog_posts {
            gap:25px; 
        }
    } 

    .contact_container{

        form{
            input {
                width:37%; 
            }  

            textarea{
                width:37%; 
            }

            [value="SEND"]{
                width:15%;
            }

        } 

        .contact_background_img {
            right:8%; 
            bottom:2%;        
            width:300px;  
        } 

        .contact_background_img2 {
            left:5%;  
        }
    }

     // blopposts page media query
     .blog_hero{
         .whitespace{
             height:100px;
         }
     }   
    
     .blogposts_section{
        .blogposts_container{

                .post_item {  
                    width:95%;

    
                    .blog_content{
                        width:90%;       
                    }
                } 
        }
    }

    .works{
        .works_carouselcontainer{
            width:95%;     
              
            .swiper-wrapper{
                
                .swiper-slide{
    
                    img{
                        width:85%;   
                    }
                }

                .swiper-button-prev{
                    left:0px;
                }

                .swiper-button-next{
                    right:0px;
                }
    
            }
        } 
    }
         
}


// screen less than 1000
@media only screen and (max-width:1000px){
    .about{

        .about_meimage{
            width:37.5%;

            img{
                width:100%;
                // height:100%;
            }
        }

        .about_me{
            .about_content{
                padding: 35px 15px; 

                h4{
                    font-size: 3rem;
                }

                p{
                    font-size:1.4rem; 
                }
            }
        }
    }

    .blogposts_container{

        .blog_posts{
            // gap:15px; 
 
            .post_item { 
                width:410px;   
                height:420px;   

                .blog_content{
                    bottom:2%;
                    left:2%; 
                    width:96%; 
                }
            } 
        } 
    }

    

    .contact_container{

        .contact_background_img {
            right:1%;        
            bottom:10%;    
            width: 350px;
            height: 372px; 
        }  

        .contact_background_img2 {
            left:1%;    
        }
    }
        
    // blopposts page media query
    .blog_hero{
        background-size:cover; 
    }

    .blogposts_section{
        .blogposts_container{

                .post_item {  
                    margin:20px 10px; 
                
                    .blog_content{
                        width:90%;       
                    }
                } 
        }
    }

    // blogpost page media query
    #blogpost-page{
        
        .blogposts_container{

            .blogpost_item{
                width:98%;  
            }

            .blogpost_content{
                margin-right:10px;
                margin-left:10px; 
                p{
                    margin-top:40px; 
                }
            }
        }
    }

    
    
}


// screen less than 890
@media only screen and (max-width:890px){
    .hero_container{
       
        header{
            nav{
                width:60%;

            }
        }
    }
    #hero{
        justify-content: center;

        .left_herosection{
            display:none;
        }
    }

    .blogposts_container{

        .blog_posts{
            margin-bottom:20px;  
            
            .post_item{
                    width:95%;        
                    height:350px; 
                    
                    .blog_content{
                        padding:4px;    

                    }
            }
        }
    }

    .about{
        z-index:99999999999999; 

        .about_me{
            padding:10px 5px 5px 5px;    

            .about_content{
                padding-top:10px; 

                h4{
                    margin-top:5px;
                    font-size: 2.3rem; 
                }

                p{
                    font-size: 1.2rem;
                }
            }
        }
    }

    .works .works_content, .blogposts_container .blogposts_heading, .contact_container .contact_heading{

        .name_underline{
            margin-top:3px; 
            
            .underline_img{
                width:35px;  
            }
        }
    }

    .whitespace{  
        height:120px;     
        overflow: hidden;

        &__bigcircle{
            width:300px;
            height:300px;
        }

        &__smallcircle{ 
            width:270px;  
            height:270px;    
        }
    
        &__bigcircle, &__smallcircle{
            top:130%;             
            left:50% ;      
        }
    }

    .works{
        .works_content{
                p{
                    max-width:95%; 
                }
            }
    } 

    .contact_container{

        .contact_background_img {
            right:3%;         
            bottom:10%;    
            width: 300px;   
            height: 372px; 
        }  

        .contact_background_img2 {
            left:-5%;     
        }
    }

    // blopposts page media query
    .blog_hero{
        .whitespace{
            height:50px;   
        }      

        #hero{

            .right_herosection{
                margin:0 auto;  
            }
        }
    }  

    .blogposts_section{
        flex-direction: column; 
        align-items: center;
    
        .blogposts_container{
            width:95%;   
        }

        .recentpost_flex{
            display:none;
        }
    }

    .works{
        .works_carouselcontainer{
            width:80%; 
            padding:10px 50px;
            height:700px;            
              
            .swiper-wrapper{
                
                .swiper-slide{
    
                    img{
                        width:85%;   
                    } 
    
                    &-active{
                        padding-top:35px; 
                        padding-bottom:35px;    
    
                        img{
                            width:85%;   
                            object-fit: cover;  
                            height:100%;  
                        }
    
                        .swiper-btn{
                              font-size:1.2rem;
                        }
                    }
                }
    
            }
            .swiper-button-prev{
                left:0px;
            }

            .swiper-button-next{
                right:-1px;       
            }   
        } 
    }
}

// screen less than 745

@media only screen and (max-width:745px){  
    #hero{

        .right_herosection{

            .ml6 {
                .letters{ 
                    font-size: 4rem;         
                }   

            }

            .name_underline{
                margin-top:-58px;

                .underline_img{
                    height:6px;
                    width:30px;
                }

                .underline_item{
                    width:45px;
                    border:1px solid #e6b001;  
                } 
            }

            h3{
                font-size:1.2rem;  
            }
        }
    } 

    .works .works_content, .blogposts_container .blogposts_heading, .contact_container .contact_heading{

            h2{
                font-size:2rem;
            }

            .name_underline{
                .underline_item{
                    width:45px;
                    border:1px solid #e6b001;  
                }
            }
    }

    .blogposts_container{

        .blog_posts{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top:20px;

            .post_item{
                    width:82%;       
                    height:300px; 
                    margin-top:20px;  

                    .blog_content{
                        padding:8px;  
                    }
            }
        }
    }

    .contact_container{

        form{
            input {
                width:47%; 
            }  

            textarea{
                width:47%;  
            }

            [value="SEND"]{
                width:15%;
            }

        } 

        .contact_background_img {
            right:1%; 
            bottom:15%;         
            width:220px;
        } 

        .contact_background_img2 {
            width:350px;  
            left:-2%;      
        }
    }

    .footer{
        padding-right:10px;
        padding-left:10px; 
    }
}

// screen less than 700
@media only screen and (max-width:700px){  
    .hero_container{
       
        header{
            
            nav{
                position:fixed; 
                top:0%;     
                right:0%;                     
                width:100%;
                height:100%;
                background: #e6b001;
                clip-path: circle(0% at 88% 4%);              
                z-index:0; 
                transition: all 1s;   

                ul{
                    display:none;

                    li{
                        margin-top:10px; 

                        a{
                            font-size:2rem ;
                            line-height:2; 
                         }
                    }
                }
            }
        }
    }

    #hero{ 

        .right_herosection{
            width:95%;   

            .ml6 {
                margin-top:50px;

                .letters{
                    font-size:3.5rem;         
                }
            }

        }
    }

    .about{
        justify-content: center;


        .about_meimage{
            display:none;
        }

        .about_me{
            width:80%;
            padding-top:30px;
            padding-bottom:30px; 
           
        }
    }

    .works{
        .works_content{
                p{
                    max-width:98.5%;  
                }
            }

        .works_carouselcontainer{
            width:100%;   
            padding:10px 40px;     
            height:900px;            
                
            
        } 

    } 

    .blogposts_container{

        .blog_posts{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .post_item{
                    width:82%;       
                    height:350px;  
            }
        }
    }

    .contact_container{

        form{
            input {
                width:55%;      
            }  

            textarea{
                width:55%;       
            }

            [value="SEND"]{
                width:20%;
            }

        } 

        .contact_background_img {
            right:1%; 
            bottom:17%;          
            width:180px;   
        } 

        .contact_background_img2 {
            width:200px;   
            left:5%;      
        }
    }

    // blogpost page media query
    #blogpost-page{
        
        .blogposts_container{
            width:99%;
            margin-right:5px;
            margin-left:5px;
            padding-left:5px;
            padding-right:5px;
        }
    }
}

// max-screen 534
@media only screen and(max-width:534px){

    .works{
        .works_content{
                p{
                    font-size:1.1rem;  
                }
            }
    } 

    .works .works_content, .blogposts_container .blogposts_heading, .contact_container .contact_heading{

        h2{
            font-size:1.7rem;
        } 
    }

    .contact_container{

        form{
            input {
                width:65%;      
            }  

            textarea{
                width:65%;       
            }

            [value="SEND"]{
                width:25%;
            }

        } 

        .contact_background_img {
            right: -7%;
            bottom: 17%;
            height: 351px;
            width: 172px;  
        } 

        .contact_background_img2 {
            width:180px;
            height:300px;   
            top:10%;  
            left:0%;       
        }  
    }

    // blog page media query
    .blog_hero{

        #hero{

            .right_herosection{

                .ml6{
                    margin-top:10px;
                }
            }
        }  
    }

    .blogposts_section{
        flex-direction: column; 
        align-items: center;
        padding:10px; 
    
        .blogposts_container{
            width:100%;    
            margin-right:5px;
            margin-left:5px;
            padding-left:5px;
            padding-right:5px; 

            .post_item{

                .blog_content{
                    width:94%; 
                }
            }
        }

        .recentpost_flex{
            display:none;
        }
    }

    // blogpost page media query
    #blogpost-page{
        
        .blogposts_container{
           
            .blogpost_item{
                margin-left:0px;
            }
        }
    }
}

// max screen 425
@media only screen and(max-width:426px){  
    .hero_container{
        header{
            padding-left:5px;

            .logo {
                margin-left:0px; 
                align-self: flex-start; 
            }
        } 

        #hero{
            .right_herosection{
                .name_underline{
                    margin-top:-58px;
    
                }
            }
        }  
    } 

    .about{

        .about_me{
            width:85%;  
            .about_content{
                

                h4{
                    font-size:1.9rem;      
                }

                p{
                    font-size: .9rem; 
                }
            } 
        }
    }

    .works{
        .works_content{
                p{
                    font-size:.9rem;   
                }
            }
        
        .works_carouselcontainer{
            width:100%;   
            padding:10px 30px;       
            height:600px;  
            
            .swiper-wrapper{

                .swiper-slide{

                    &-active{

                        img{
                            width:85%; 
                        }
                    }

                }

            }
                
        }
    } 

    .blogposts_container{

        .blog_posts{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .post_item{
                    width:95%;        
                    height:350px; 
                    
                    .blog_content{
                        bottom:2%;
                        left:2%; 
                        width:96%;   

                        h3{
                            font-size:1rem;
                        }

                        p{
                            font-size:.8rem;
                        }

                        button{
                            font-size:.6rem; 
                        }
                    }
            }
        }
    }

    .contact_container{

        form{
            input {
                width:75%;       
            }  

            textarea{
                width:75%;        
            }

            [value="SEND"]{
                width:35%; 
            }

        } 

        .contact_background_img {
            right: -17%;  
            bottom: 18%;     
            height: 351px;
            width: 172px;  
        } 

        .contact_background_img2 {
            width:180px;
            height:300px;   
            top:10%;  
            left:-10%;        
        }  
    }

    .footer{
    
            .footer_heading{
                font-size:1.5rem;
            }
    
            .socials{
                img{
                    height: 30px; 
                    width: 30px; 
                    margin: 0px 7px; 
                }
            }
    }

}

// screen max 325px
@media only screen and (max-width:325px){  
    // .hero_container{
       
    //     header{
    //         nav{
    //             // top:-5%;
    //             // right:-36%;   
    //         }
    //     }
    // }

    #hero{ 

        .right_herosection{

            .ml6 {

                .letters{
                    font-size:2.8rem;           
                }
            }

            .name_underline{
                margin-top:-45px;  
            } 

            .social{
                img{
                    height:30px;   
                    width:30px;   
                    margin:5px;  
                }
            }

            
        }
    }  

    .works .works_content, .blogposts_container .blogposts_heading, .contact_container .contact_heading{

        h2{
            font-size:1.5rem ;
        } 
    }

    .about{

        .about_me{
            width:95%;  
            .about_content{
                

                h4{
                    font-size:1.5rem;      
                }

                p{
                    font-size: .9rem; 
                }
            } 
        }
    }

    .contact_container{

        form{
            input {
                width:85%;       
            }  

            textarea{
                width:85%;        
            }

            [value="SEND"]{
                width:45%;  
            }

        } 
    }
}