.whitespace{
    position:relative;
    width:100%;
    height:150px;
    z-index: 4;  

    &__bigcircle{
        @include circle_positioning($color_bigCircle, $bigCircle_dimension, $bigCircle_dimension);
        
    }

    &__smallcircle{
        @include circle_positioning($color_smallCicle, $smallCircle_dimension, $smallCircle_dimension)
    }

}