.works{
    text-align: center;
    padding:35px 10px;  

    .works_content{
        h1{
            font-family: $font_clicker;
            font-weight: 600;    
            color:$color_black;
            font-size: 3rem;
        }

        .name_underline{
            align-items: center;

            .underline_item{   
                width: 50px;     
                display: inline-block;
                border:1px solid $color_yellow;
                background-color: $color_yellow;
                align-self: center; 
                margin-bottom:2px;     
            }

            .underline_img{
                width:25px;      
                height:5px;    
            } 
        } 

        p{
            margin:10px auto; 
            padding:5px;
            line-height: 1.5;
            font-size: 1.5rem;   
            color:$color_greenDark; 
            max-width:70%; 
        }
    }

    .works_carouselcontainer{
        padding:40px 15px;  
    } 
}