.blog_hero{
    background:url('../../Imgs/header-bg.png'); 
    background-size:100%;    
    background-color: #F7F7F7; 
    background-position: right top;  
    background-repeat:no-repeat;

    #hero{
        display:block;

        .right_herosection{
            margin-left:15%;     
        }
    }
}