.blogposts_section{
    display:flex;
    gap:20px;
    padding:10px 25px;  
    background:$color_blogpost_page;
     

    .blogposts_container{
        padding:5px 10px;
        margin:5px 15px;  
        width:70%;

        .post_item{
            height:365px;     
            width: 85%;   
            position: relative;
            margin:45px; 
            

            &:first-child{
                background:url('../../Imgs/card-image.svg');
                background-size: 100%; 
                margin-top:35px; 
            }

            &:nth-child(2){
                background: url('../../Imgs/card-image\ \(3\).svg');
                background-size: 180%;  
            }

            &:nth-child(3){
                background:url('../../Imgs/card-image\ \(4\).svg'); 
                background-size: 150%; 
                background-repeat: no-repeat; 
            }

            &:nth-child(4){
                background:url('../../Imgs/card-img.svg');
                background-size: 100%; 
            }

            .blog_content{
                @include blogpost_content($font_nuito, 60%);
                
                h3{
                    font-weight: 600;
                    font-size: 1.5rem;
                    line-height: 1.2;
                    margin:5px 0px;
                }

                p{
                    line-height: 1.5;  
                    font-weight: 300;
                    
                    &:last-child{
                        margin:10px 0px; 
                    }
                }

                a{
                    color:$color_blogpost-button;
                    text-decoration: none;
                }
        }
    }
    }
}

// blogposts pagination styling
.pagination_container{
    display: flex;
    gap:5px; 
    margin:40px;
    color:$color_blogpost-button;

    p{
        padding:5px 10px;
        font-size: 1.4rem;  

        &:last-child{
            border:1px solid $color_yellow;

        }
    }
}

// recent post and tags section
.recentpost_container{
    padding:25px 5px 25px 25px;  
    border-radius: 3px;    
    background:$color_smallCicle;
    font-family: $font_nuito;
    color:$color_greenNav;
    margin-top: 45px;     
    max-width:90%;


    h3{
        font-size:1.3rem;  
        display: inline-block;
        margin-top:10px;

        .recent_underline{
            @include underline_blog(1.5px)
        }


        .tag_underline{
        @include underline_blog(2.5px)
        }
    }

    ul{
        list-style: none;
        margin:10px 0px;

        li{
            margin:15px 0px;

            a{
                color:$color_greenNav;
                text-decoration: none;
                font-size:1.2rem; 
                font-weight: 400;
            }
        }
    }

    .recentpost_tags{
        display:flex;
        flex-wrap: wrap;
        margin-top:5px; 

        p{
            margin:5px 10px;
            border:1px solid $color_greenNav; 
            border-radius: 4px; 
            padding:10px 25px;   

        }
    }
}