.works{
    text-align: center;
    padding:55px 10px 35px 10px;  

    .works_content{
        h2{
            @include section_headings($font_clicker, $color_black)
        }

        .name_underline{
            align-items: center;
            margin-top:15px;  

            .underline_item{   
                @include underline_item($color_yellow)  
            }

            .underline_img{
                width:60px;      
                height:7px;    
            } 
        } 

        p{
            margin:10px auto; 
            padding:5px;
            line-height: 1.5;
            font-size: 1.5rem;   
            color:$color_greenDark; 
            max-width:70%; 
        }
    }

    .works_carouselcontainer{
        padding:25px 28px ;            
        text-align: center ;
        width:85%;            
        margin:20px auto;  
        height:700px;             
          

        .swiper-wrapper{
            height:98%;                 
            
            .swiper-slide{
                height:100%;   
                margin:auto 0px;  
                display: flex;
                justify-content: center;

                img{
                    width:75%;           
                    height:90%;     
                    object-fit: cover;
                    margin:auto 0px; 
                    box-shadow: $img_shadow; 
                }

                .swiper-btn{
                    display:none;  
                }

                &-active{
                    height:100%;  
                    margin: auto 0px; 
                    border:1px solid $color_yellowLight;  
                    padding-top:15px;   
                    padding-bottom:15px;    
                    position:relative;

                    img{
                        width:85%;   
                        height:99%;      
                        margin:auto 0px;  
                        box-shadow: $img_shadow;
                    }

                    .swiper-btn{
                        display:block !important;
                        position:absolute;
                        bottom:5%; 
                        left:50%;
                        transform: translate(-50%, -50%);         
                        padding:10px 30px;     
                        font-family:$font_nuito;
                        color:#fff;
                        background:$color_blogpost-button; 
                        border:none; 
                        border-radius:5px;
                        font-size:1rem;  
                    }
                }
            }

        }

        .swiper-button-next, .swiper-button-prev{
            color:$color_yellowLight;
        }

        .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
            bottom:-3px;       
        }
    }   
}