.works{
    
    padding:35px 10px;  

    .works_content{
        text-align: center;
        h2{
            @include section_headings($font_clicker, $color_black)
        }

        .name_underline{
            align-items: center;
            margin-top:15px;  

            .underline_item{   
                @include underline_item($color_yellow)  
            }

            .underline_img{
                width:60px;      
                height:7px;    
            } 
        } 

        p{
            margin:10px auto; 
            padding:5px;
            line-height: 1.5;
            font-size: 1.5rem;   
            color:$color_greenDark; 
            max-width:70%; 
        }
    }

    .works_carouselcontainer{
        padding:40px 5px; 
        width:100%;  
        margin:0 auto;

        .works_carousel{

            .slick-arrow{
                border:1px solid black;
            }

            // .slick-list{
            //     .slick-track{
            //         width:1150px;  

            //         .slick-current{
            //             width:350px;      
            //         }
            //     }
            // }
        }
    }   
}